/* -- Style reset -- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* --- HTML5 display-role reset for older browsers --- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* ----------------------------  Slut reset --------------------------- */

/* Font from google Cabin */


/* All tekst */
h1 {
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
  color: black;
  padding: 5px;
}
h2{
  font-family: 'Cabin', sans-serif;
  font-size: 23px;
  padding: 7px;
}
p {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  padding: 3px;
  line-height: 130%
}

.teskt {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  /* -webkit-text-stroke-width: 0.3px; */
}

/* bagground on all sites */
body {
  overflow-x: hidden;
  background: url(img/background.png);
  background-size: 5%;
}

/* 
Header 
*/
.top {
  max-width: 100%;
  height: auto;
  position: fixed;
  z-index: -1;
}


.logo {
  max-width: 10%;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.menuback {
  position: fixed;
}

/* remove styling from links */
a {
  text-decoration:none;
  color:none
}
a:visited {
  text-decoration: none;
  color:none
}

/*
Code from class 'a BUGERMENU'
noget er justeret

*/
.header {
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #799F9E;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #799F9E;
  text-decoration: none;
  color: #150348
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #777D89;
  color: #150348
}

.header .logo {
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  margin-top: -75px;
}

.header .menu-icon .navicon {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: black;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}
  
.header .menu-btn:checked ~ .menu {
  max-height: 270px;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
  
/* 
forside content
*/

.forside-img {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.desk-only {
  display: none;
}

/* 
Foooter
*/
.bottom {
  max-width: 100%;
  height: 105%;
  z-index: -2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  }
.face-insta {
  max-width: 15%;
  height: auto;
}

.footer{
  display: flex;
  flex-direction:column;
  margin-top: 5%;

  position: absolute;
  width: 100%;
}

.kontaktinfo {
  margin-top: 7%;
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-bottom: 2%;
  color: #150348
}

.Socials{
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 10px;
  color: #150348
}

/* 
alkoholfri øl side
*/
.alkfrican{
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.alk {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
}

.cans {
  margin-bottom: 30px;
}

/*
alkohol køb og info side
*/

.canshop {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.specials {
  display: flex;
  justify-content:space-around
}

.greenicons {
  max-width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* historie */
.indhold {
 padding-left: 25px;
}


/*
under ombygning
*/

.underom{
  margin-top: 250px;
}

/* making it so the top content on page isn't optructed by header */
.top-adjust {
  margin-top: 18%;
}

/* 48em = 768px */
@media (min-width: 48em) {
  /* header adjustment */
  .header .menu {
    display: none;
  }

  .header .menu-icon {
    display: none;
  }

  .desk-only {
    display: block;
  }

  .desk-header{
    display: flex;
    justify-content: space-around;
    align-items:center;
  }

  .top {
  height: 120px; 
  width: 100%;
  }

  .logolink{
    display: block;
    width: 50%;
    height: auto;
    align-items:center;
  }


  #menudesk {
    margin-left: 15px;
    margin-right: 15px;
  }

 /* header adjustment end*/

  /* footer adjustment */
 .bottom {
    width: 100%;
    height: 150px
  }

  .footer{
    align-items:center;
  }
  
  .foot-content{
    display: flex;
    align-items:center;
  }

  /* footer adjustment end*/

  /* forside */
  .forside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: min(95%, 45rem);
    margin: 0 auto;

  }

  
  #forside-img{
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #top-adjust{
    margin-top: 18%;
  }
}